* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: fff(40 4% 82%);
    color: #333;
    line-height: 1.6;
}

/* First Page Start Here  */

.main {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    width: 100%;
    position: relative;
}

.main .box {
    height: 100vh;
    width: 100%;
    opacity: 0.4;
    position: absolute;
    top: 0;
    background-color: black;
} 

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16rem;
    position: relative;
    width: 100%;
    z-index: 1000;
    height: 93px;
}

a:hover {
    color: #B4934C;
}

nav a {
    color: aliceblue;
    text-decoration: none;
}
nav img {
    width: 225px;
    height: 225px;
    margin-top: 43px;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.stars {
    height: 55%;
    display: flex;
    margin-right: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1000;
    margin-top: 50px;
}

.stars i {
    color: #B4934C;
    font-size: 24px;
    padding: 5px; 
    text-shadow: -1px -1px 0 #ffffff79, 1px -1px 0 #ffffff79, -1px 1px 0 #ffffff79, 1px 1px 0 #ffffff79;

}

.heading {
    color: white;
    letter-spacing: 12px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    text-align: center;
    font-style: normal;
    font-size: 3rem;
    margin-bottom: 1rem;
    line-height: 1.2;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

form {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="date"],
select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #d4af37;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #c08c2a;
}

/* Responsive adjustments */
.menu-btn {
    display: none; 
}

@media (max-width: 1260px) {
    nav {
        padding: 0 4rem; 
    }
    .nav-links, .logo {
        display: none; 
    }

    .nav-links.active {
        display: flex; 
        flex-direction: column;
        align-items: center;
        margin-top: 130px;
        z-index: 1000;
    }
    .nav-links a {
        margin: 2px 0;     }
    .heading {
        font-size: 3rem; 
    }
    .form-container {
        flex-direction: column; 
        padding: 20px;
    }
    form {
        flex-direction: column;
    }
    .form-group {
        margin: 10px 0; 
    }
    .menu-btn {
        display: inline-block; 
    }
}

@media (max-width: 480px) {
    nav {
        padding: 01 2rem; 
        flex-direction: row;
    }
    .stars i {
    display: none;
    }
    .heading {
        font-size: 1.3rem; 
        padding-left: 20px;
        letter-spacing: 7px; 
        text-align: center;
    }
    button, input[type="date"], select {
        padding: 12px; 
        font-size: 11px; 
    }
}

.menu-btn {
    cursor: pointer;
    padding: 10px;
    transition: all 0.3s ease;
}

.menu-btn__burger,
.menu-btn__burger::before,
.menu-btn__burger::after {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease;
    position: relative;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    left: 0;
}

.menu-btn__burger::before {
    top: -8px;
}

.menu-btn__burger::after {
    top: 8px;
}

.menu-btn.active .menu-btn__burger {
    background-color: transparent; 
}

.menu-btn.active .menu-btn__burger::before {
    transform: translateY(8px) rotate(45deg);
}

.menu-btn.active .menu-btn__burger::after {
    transform: translateY(-8px) rotate(-45deg);
    background-color: yellow;
}

/* Second Page Start Here  */
.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 200px;
    padding: 20px;
    height: 100vh;
    width: 100%;
}

.text {
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    width: 45%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text h6 {
    color: #333;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.text h1 {
    color: #B4934C;
    font-size: 34px;
    margin-bottom: 20px;
    text-align: left;
}

.text p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-image {
    width: 45%;
    position: relative;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.text img {
    display: block;
    margin: 0 auto 20px;
    border-radius: 10%;

}

/* Responsive adjustments */

 @media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin-top: 394px;
        height: auto;
    }

    .about-image,
    .text {
        width: 100%;
        margin-bottom: 20px;
    }

    .about-image img {
        border-radius: 10px;
        margin-top: 0px;
    }

    .text {
        padding: 10px;
    }

    .text h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .text p {
        font-size: 14px;
        line-height: 1.4;
        margin-bottom: 10px;
    }
} 


/* rooms suites section */
.room-suites {
    text-align: center;
    padding: 50px 0;
    background-color: rgb(238, 229, 213);
    position: relative;
}

.section-title-rooms {
    text-align: center;
    padding: 30px 0;
    color: #c08c2a;
    font-size: 34px;
    position: relative;
}

.cards-container {
    display: flex;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    max-width: 90%;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 15px;
    flex: 0 0 auto;
    width: 250px;
    transition: transform 0.5s ease-in-out;
}

.card-content {
    padding: 20px;
}

.card img {
    width: 100%;
    border-radius: 0 0 10px 10px;
}

.Rooms {
    text-align: center;
    padding: 15px 0;
    position: relative;
}

.rates {
    text-align: center;
    margin-bottom: 10px;
    position: relative;
}

.cards-container {
    display: flex;
    overflow: hidden;
}

.cards-container .card {
    flex: 0 0 auto;
    transition: transform 1s ease-in-out;
}

.cards-container.slide .card {
    transform: translateX(-200%);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .cards-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
        margin: 0 auto;
        height: 470px;
        scroll-snap-type: x mandatory;
    }

    .card {
        width: 200px;
        flex: 0 0 auto;
        margin-right: 20px;
        scroll-snap-align: start; 
    }
}

/* Special Offers Section */
.special-offers {
    background: #f5f5f5;
    padding: 40px 0;
    text-align: center;
    color: #c08c2a;
}

.special-offers .section-title-offers {
    color: #333;
    margin-bottom: 30px;
}

.offer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.offer {
    background-color: #fff;
    box-shadow: 0 12px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
    width: calc(25% - 20px);
    max-width: 300px;
    min-width: 250px;
    height: 370px;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out; 
}

.offer:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 8px rgba(0,0,0,0.2);
}

.offer img {
    width: 100%;
    height: auto;
    padding: 19px  19px 0 19px;
    border-radius: 10px 10px 0 0;
    aspect-ratio: 16 / 9;
}

.offer-title, .offer-details {
    padding: 15px 10px;
}

.offer-details {
    font-size: 14px;
    color: #666;
}

.details-button1 {
    background-color: #c08c2a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
    width: 20%;
    transition: background-color 0.3s ease;
}

.details-button1:hover {
    background-color: #a07622;
}

h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2.5em;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .offer-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
        margin: 0 auto;
        height: 430px;
        padding: 10px 0; 
    }

    .offer {
        width: 200px; 
        flex: 0 0 auto; 
        height: 400px; 
    }
    
    .details-button1 {
        width: 50%; 

    }

    .section-title-offers {
        font-size: 1.7em; 
        padding: 0 5px;
    }

    .offer img {
        width: 100%; 
        height: 220px; 
    }
}

/* Video Section  */
.video-tour {
    text-align: center;
    background: #0a0a0aec;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    padding: 100px 0px;
}


.video-container {
    position: relative;
    display: inline-block;
    width: 80%;
    max-width: 1000px;
    padding-top: 56.25%;
    margin: auto;
}

.video-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    z-index: 2;
    border: 2px solid #c08c2a;
    box-sizing: border-box;
}

video {
    width: 100%;
    height: 100%;
    display: block;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1;
    pointer-events: none;
}

.overlay.hide {
    display: none;
}

.overlay h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.play-button {
    position: relative; 
    background: transparent;
}

.play-button:hover {
    cursor: pointer;
}
.play-button::before {
    content: "";
    position: absolute;
    left: 35%; 
    top: 25%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 26px; 
    border-color: transparent transparent transparent white;
}

.hide {
    display: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .video-tour {
        height: auto;
        padding: 20px;
    }

    .video-container {
        width: 100%;
        padding-top: 56.25%;
    }

    .video-frame {
        height: auto;
    }

    .overlay h2 {
        font-size: 1.5em;
    }

    .play-button {
        width: 60px;
        height: 60px;
    }
}

/* ------------- Activities Section ---------- */

.card-container,
.offer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 0 50px 20px;
}

.card,
.offer {
    width: 310px; 
    height: 250px; 
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 30px;
    margin-top: 0px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover,
.offer:hover {
    transform: translateY(-10px);
}

.icon {
    width: 40px;
    height: 40px;
    margin: 0 auto 8px;
    background-size: contain;
    background-repeat: no-repeat;
}

.section-title-activities {
    text-align: center;
    padding: 8px 0;
    color: #c08c2a;
    margin-top: 70px;
    font-size: 30px;
    position: relative;
}

.ActivitiesDescription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: #00000096;
    flex-wrap: wrap;
    margin: 10px 0;
    text-align: left;
}

.ActivitiesTittle {
    text-align: center;
    padding: 8px 0;
    color: #0000008a;
    position: relative;
}

.tennis {
    background-image: url('Assets/svg/tennis.svg');
}

.equitation {
    background-image: url('Assets/svg/horse.svg');
}

.pingpong {
    background-image: url('Assets/svg/PingPong.svg');
}

.billiard {
    background-image: url('Assets/svg/billiards.svg');
}

.flipper {
    background-image: url('Assets/svg/flipper.svg');
}

.babyfoot {
    background-image: url('Assets/svg/baby-foot.svg');
}


/* Responsive adjustments */
@media (max-width: 768px) {

    .card-container,
    .offer-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
        width: 100%;
        overflow-y: hidden;
        margin: 0 auto;
        height: 420px;
        padding: 10px 0;
        
    }

    .card,
    .offer {
        scroll-snap-align: start;
        width: 200px; 
        flex: 0 0 auto; 
        height: 400px; 
    }

    .ActivitiesDescription {
        flex-direction: column;
        text-align: center;
    }

    .ActivitiesTittle {
                font-size: 1.7em; 
        padding: 0 5px;
    }

    .icon {
        width: 30px;
        height: 30px;
    }
    
}

